/* .NewWidget{
    position: absolute;
    z-index: 100;
   
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
  
    background-color: white;
    
} */
.NewWidget {
    position: fixed;
    z-index: 100;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    background-color: white;
    z-index: 999;
}

.close-btn {
    position: absolute;
    right: -12px;
    top: -12px; 

    font-size: 16px;
    border-radius: 50%;
    color: white;
    border: none;
    outline: none;
    background-color: red;
    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: darkred;
}